@media (min-width: 992px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    
.navbar.navbar-expand-lg {
    padding-bottom: 0;
    margin-left: -12%;
    margin-right: -15%;
}

.navbar.navbar-expand-lg .navbar-nav .nav-logo {
    padding: 40px 0px;
    margin-right: 0%;
    margin-left: 0%;
    color: #373f6d;
    text-transform: uppercase;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
.navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding: 45px 40px;
    margin-left: -5%;
    margin-right: -5%;
    color: #373f6d;
    text-transform: uppercase;
    font-size: 30px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .navbar-toggler {
        background-color: #a73437;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
        margin-left: -125px;
    }
    
  .members_column {
    width: 100%;
    display: block;
  }
    
.navbar.navbar-expand-lg {
    padding-bottom: 10;
    margin-left: -12%;
    margin-right: -15%;
}

.navbar.navbar-expand-lg .navbar-nav .nav-logo {
    padding: 40px 0px;
    color: #373f6d;
    text-transform: uppercase;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
.navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5em 30px;
    color: #373f6d;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 2;
}


.breadcumb-area .bradcumb-title h2 {
    font-size: 28px;
    color: #fff;
}
.breadcumb-area {
    max-width: 100%;
    height: 100%;
}

}

@media (min-width: 320px) and (max-width: 767px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .post-favourite a,
    .post-comments a {
        margin-right: 7.5px;
    }

    .post-author a,
    .top_header_area .top_social_bar > a {
        margin-right: 15px;
    }

    .post-author a::after {
        right: -7px;
    }
    .footer-social-area .single-icon span {
        display: none;
    }
    .footer-social-area .single-icon:last-of-type > a > i {
        padding-right: 0;
    }
    .top_header_area .signup-search-area .search_button {
        margin-left: 15px;
    }
    .navbar-toggler {
        background-color: #a73437;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .breadcumb-area .bradcumb-title h2 {
    font-size: 28px;
    color: #fff;
    }
    .breadcumb-area {
        max-width: 100%;
        height: 100%;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg {
        padding-bottom: 10;
        margin-left: -12%;
        margin-right: -15%;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-logo {
        padding: 40px 0px;
        color: #373f6d;
        text-transform: uppercase;
        font-size: 20px;
        height: 100%;
        width: 100%;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 0.5em 30px;
        color: #373f6d;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 2;
    }
    
    .pagination-area .page-status {
        margin-top: 30px;
    }
    #googleMap {
        height: 300px;
    }
    .comment-wrapper .comment-author {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .single_comment_area::after {
        display: none;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 30px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 10px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 15px;
    }
  .members_column {
    width: 100%;
    display: block;
  }
    
}

@media (min-width: 480px) and (max-width: 767px) {
    #googleMap {
        height: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pagination-area .page-status {
        margin-top: 0;
    }
    #googleMap {
        height: 500px;
    }
    .comment-wrapper .comment-author {
        margin-right: 60px;
        width: 70px;
        height: 70px;
    }
    .single_comment_area::after {
        display: block;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 60px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 30px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 130px;
    }
}

/* ===========================================
   Touch Device Specific Styles
   Targets actual mobile phones and tablets
   =========================================== */
@media (hover: none) and (pointer: coarse) {
    /* Ensure logo above header is visible and sized for mobile */
    img.index-logo,
    img.subpage-logo {
        display: block !important;
        width: 40% !important;
        max-width: 200px !important;
        margin-left: 0 !important;
        margin-right: auto !important;
        padding: 10px 0 10px 15px !important;
    }

    /* Reset problematic percentage margins */
    .navbar.navbar-expand-lg {
        margin-left: 0;
        margin-right: 0;
        padding: 10px 15px;
    }

    /* Clean mobile menu button */
    .navbar-toggler {
        background-color: #a73437;
        width: 100%;
        color: #fff;
        padding: 12px 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
    }

    /* Hide any logo in nav (legacy, should be removed from HTML) */
    .navbar.navbar-expand-lg .navbar-nav .nav-logo {
        display: none;
    }

    /* Clean vertical menu items */
    .navbar.navbar-expand-lg .navbar-nav {
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        padding: 10px 0;
        border-radius: 4px;
    }

    .navbar.navbar-expand-lg .navbar-nav .nav-item {
        display: block;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .navbar.navbar-expand-lg .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }

    /* Clean nav links without overlap */
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        display: block;
        padding: 15px 20px;
        margin: 0;
        color: #373f6d;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.4;
        text-decoration: none;
    }

    .navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
    .navbar.navbar-expand-lg .navbar-nav .nav-link:active {
        background-color: #a73437;
        color: #fff;
    }

    /* Ensure spacer items don't display */
    .navbar.navbar-expand-lg .navbar-nav .nav-item:empty,
    .navbar.navbar-expand-lg .navbar-nav .nav-item:has(> :only-child:empty) {
        display: none;
    }
}